/node_modules
/docs
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/resources/views/vendor/
/public/vendor/
/public/js/app.js
/public/robots.txt
/.vscode/*
.vscode
/public/css/app.css
/public/assets/libs
/public/assets/libs/*
/public/assets/css
/public/assets/css/*
public/assets/js
public/assets/js/*
/public/mix-manifest.json
/CLAUDE.md
/public/build
